body {
    margin: 0;
    font-family: system-ui,sans-serif;
    font-size: 18px;
}

h1 {
    text-decoration: overline;
}

ul {
    list-style-type: square;
}

.stdLink {
    color: #efc6b4;
    text-decoration: none;
    font-weight: bold;
}

.stdLink:hover {
    text-decoration: underline;
}

/* Contenedor global de la página */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Sección para la información de la consola  */
.leftpanel {
    grid-column: 1 / 2;
    background-color: #0d3648;
    border-right: 5px solid #214859;
    color: #efc6b4;
    padding: 20px 40px;
}

/* Sección para el diseño e imagen de la consola */
.rightpanel {
    grid-column: 2 / 3;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

#console-ly-0 {
    width: 25vw;
    height: 90vh;
    background-color: #e1e1e1;
    /* border: 2px solid black; */
    border-radius: 20px 20px 90px 20px;
    box-shadow: inset 0 5px 8px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}

#console-ly-0-1 {
    height: 8vh;
    border: 1px solid red;
}

#console-ly-0-2 {
    height: 37vh;
    border: 1px solid red;
}

#console-ly-0-3 {
    height: 25vh;
    border: 1px solid red;
}

#console-ly-0-4 {
    height: 20vh;
    border: 1px solid red;
}
