/**
 * 01. CONTENEDORES PRINCIPALES
 * Incluye el contenedor principal y divisiones horizontales.
 * -------------------------------------------------------------------
 */

 /* Contenedor de toda la consola */
#console-container {
    width: 27vw;
    height: 90vh;
    background-color: #e1e1e1;
    border-radius: 20px 20px 90px 20px;
    box-shadow: inset 0 5px 8px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}

/* Contenedor de elementos del borde superior sobre la pantalla */
#console-ctn-1 {
    /* border: 1px solid #ff0000; */
    height: 7vh;
}

/* Contenedor para la pantalla de cristal */
#console-ctn-2 {
    /* border: 1px solid #ff0000; */
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor para marca y modelo */
#console-ctn-3 {
    /* border: 1px solid #ff0000; */
    height: 5vh;
    display: flex;
    align-items: baseline; 
    justify-content: left;
    padding-left: 25px;
}

/* Contenedor para los controles de juego */
#console-ctn-4 {
    /* border: 1px solid red; */
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 10px;
}

/* Contenedor para botones de inicio y reset */
#console-ctn-5 {
    /* border: 1px solid red; */
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor para el extremo inferior de la consola */
#console-ctn-6 {
    /* border: 1px solid red; */
    height: 7vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 20px;
}

/**
 * 02. ZONA SUPERIOR
 * Incluye los estilos para replicar la parte superior de la consola
 * -------------------------------------------------------------------
 */

#on-off-container {
    width: 70px;
    height: 14px;
    border: 1px solid #b4b4b4;
    border-radius: 8px 8px 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px inset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    margin-top: 4px;
}

#on-off-container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8px;
    color: #b4b4b4;
    letter-spacing: 1px;
}

.triangulo-left {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid #b4b4b4;
    border-bottom: 4px solid transparent;
}

.triangulo-right {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 4px solid #b4b4b4;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.hr-1 {
    border:none;
    width: 100%;
    border-top: 1px solid lightgray;
    box-shadow: inset 0 3px 5px -5px #b4b4b4;
}

/**
 * 03. ZONA DE LA PANTALLA
 * Incluye estilos para la pantalla de la consola, como son el led
 * de bateria y la pantalla verde.
 * -------------------------------------------------------------------
 */

#screen-container {
    width: 24vw;
    height: 34vh;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: rgb(160,152,175);
    background: linear-gradient(90deg, rgba(160,152,175,1) 0%, rgba(126,119,141,1) 50%, rgba(160,152,175,1) 100%);
    border-radius: 15px 15px 45px 15px;
    box-shadow: inset 0px 0px 5px 1px #333333;
    display: flex;
    flex-wrap: wrap;
}

/* Zona superior de la pantalla con texto en blanco */
#screen-ctn-1 {
    /* border: 1px solid #5100ff; */
    width: 24vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Caja para las líneas dobles de colores a la izquierda */
#screen-ctn-1-box1 {
    /* border: 1px solid #ffbb00; */
    width: 7vw;
    height: 0.5vh;
    border-top: 3px solid #7a2f61;
    padding-top: 1px;
    border-bottom: 3px solid #231a84;
    padding-bottom: 1px;
}

/* Caja para la línea de texto en el centro*/
#screen-ctn-1-box2 {
    /* border: 1px solid #ffbb00; */
    width: 11vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen-ctn-1-box2 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8px;
    color: #fff;
}

/* Caja para las líneas dobles de colores a la derecha */
#screen-ctn-1-box3 {
    /* border: 1px solid #ffbb00; */
    width: 3vw;
    height: 0.5vh;
    border-top: 3px solid #7a2f61;
    padding-top: 1px;
    border-bottom: 3px solid #231a84;
    padding-bottom: 1px;
}

/* Zona donde se ubica el led indicador de bateria */
#screen-ctn-2{
    /* border: 1px solid #5100ff; */
    width: 5vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* Caja para colocar el led y el texto */
.led-box {
    height: 30px;
}

/* Parrafo de texto bajo el led de la bateria */
.led-box p {
    font-size: 10px;
    text-align: center;
}

/* Led de color verde indicando bateria cargada */
.led-ON {
    margin: 0 auto;
    width: 18px;
    height: 18px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

/* Zona del cristal verde */
#screen-ctn-3 {
    /* border: 1px solid #5100ff; */
    width: 16vw;
    height: 23vh;
    background: rgb(94,140,70);
    background: radial-gradient(circle, rgba(94,140,70,1) 0%, rgba(125,180,82,1) 93%, rgba(94,140,70,1) 100%);
    box-shadow: inset -2px 2px 8px 6px rgba(0,0,0,0.68);}

/**
 * 04. ZONA BAJO LA PANTALLA
 * Incluye estilos de lamarca de Nintendo y el modelo.
 * -------------------------------------------------------------------
 */

 /* Fuente tipofráfica que imita el logotipo de nintendo */
@font-face {
    font-family: nintendoFont;
    src: url(../assets/Pretendo.ttf);
}

/* Marca o logotipo */
#console-brand {
    font-family: nintendoFont;
    letter-spacing: 1px;
    color: #231a84;
}

/* Nombre del modelo */
#console-modelname {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-style: oblique;
    color: #231a84;
    padding-left: 2px;
}

/**
 * 05. ZONA DE CONTROLES DE JUEGO
 * Incluye estilos de teclas de dirección y botónes de juego.
 * -------------------------------------------------------------------
 */

/* Contenedor para botones de movimiento */
.arrow-buttons-box {
    width: 110px;
    height: 110px;
    border: none;
    display: flex;
    align-items: center;
    justify-content:center;
}

/* Endidura alrededor del control de movimiento */
.arrow-buttons-border {
    width: 110px;
    height: 110px;
    border: 1px solid #b4b4b4;
    border-radius: 50%;
    box-shadow: grey 4px 4px 8px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    display: flex;
    align-items: center;
    justify-content:center;
}

/* Barra de movimiento vertical */
.arrow-up-down {
    width: 20px;
    height: 85px;
    background-color: #968895;
    border-radius: 5px 5px 5px 5px;
    /* box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1); */
    position: fixed;
}

/* Barra de movimiento horizontal */
.arrow-left-right {
    width: 85px;
    height: 20px;
    background-color: #968895;
    border-radius: 5px 5px 5px 5px;
    /* box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1); */
    position: fixed;
}

/* Contenedor para botones de acción y etiquetas */
.action-buttons-box {
    width: 120px;
    height: 80px;
    border: none;
    transform: rotate(-25deg);
}

/* Formato para la etiqueta de los botones de acción */
.action-buttons-box p {
    font-family: nintendoFont;
    font-size: 12px;
    text-align: center;
    word-spacing: 45px;
    color: #231a84;
    margin-top: 5px;
}

/* Endidura alrededor de los botones */
.action-button-border {
    width: 120px;
    height: 55px;
    border: 1px solid #b4b4b4;
    border-radius: 30px 30px 30px 30px;
    box-shadow: grey 4px 4px 8px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

/* Botón interior bordes ovalados */
.action-button {
    width: 40px;
    height: 40px;
    background-color: #b1316e;
    border: 1px solid gray;
    border-radius: 50%;
    box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
}

/**
 * 06. ZONA DE BOTONES DE INICIO
 * Incluye estilos para represetar los botones de SELECT y START
 * -------------------------------------------------------------------
 */

/* Contenedor para el botón SELECT y su etiqueta */
.button-box {
    width: 80px;
    height: 52px;
    border: none;
    transform: rotate(-25deg);
}

/* Formato para la etiqueta del botón */
.button-box p {
    font-family: nintendoFont;
    font-size: 10px;
    letter-spacing: 2px;
    text-align: center;
    color: #231a84;
    margin-top: 5px;
}

/* Endidura alrededor del botón */
.out-button {
    width: 70px;
    height: 20px;
    border: 1px solid #b4b4b4;
    border-radius: 10px 10px 10px 10px;
    box-shadow: grey 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Botón interior bordes ovalados */
.in-button {
    width: 54px;
    height: 12px;
    background-color: #968895;
    border: 1px solid #b4b4b4;
    border-radius: 10px 10px 10px 10px;
    box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
}

/**
 * 06. BORDE INFERIOR DE LA CONSOLA
 * Incluye estilos para represetar las ranuras del altavoz y
 * el conector auticulares
 * -------------------------------------------------------------------
 */

/* Conector de salida de audio (auriculares) */
#headphone-container {
    width: 65px;
    height: 15px;
    border: 1px solid #b4b4b4;
    border-radius: 8px 8px 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px inset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

#headphone-container img {
    opacity: 0.3;
}

#headphone-container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8px;
    color: #b4b4b4;
    letter-spacing: 1px;
}

/* Bloqyue de ranuras de audio */
#slot-container {
    width: 95px;
    height: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: rotate(-35deg);
    margin-bottom: 30px;
    margin-left: 50px;
}

/* Ranura */
.slot {
    width: 8px;
    height: 60px;
    border: 1px solid #b4b4b4;
    border-radius: 8px 8px 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px inset;
}