body {
    height: 100vh;
    margin: 0;
    font-family: system-ui,sans-serif;
    font-size: 15px;
}

h1 {
    text-decoration: overline;
}

ul {
    list-style-type: square;
}

.stdLink {
    color: #efc6b4;
    text-decoration: none;
    font-weight: bold;
}

.stdLink:hover {
    text-decoration: underline;
}

/* Contenedor global de la página */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Sección para la información de la consola  */
.leftpanel {
    grid-column: 1 / 2;
    background-color: #0d3648;
    border-right: 5px solid #214859;
    color: #efc6b4;
    padding: 20px 40px;
}

/* Sección para el diseño e imagen de la consola */
.rightpanel {
    grid-column: 2 / 3;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 20px 0px;
}
